.classpath
.project
.settings
CONFIGSTORE
*.iml
*.ipr
*.iws
.svn
target
LICENSES
.clover
.fbprefs
*.orig
release.properties
release.properties
versions.propeties
*.DS_Store
.idea/
*.log
bin/
.pmdruleset.xml
/.pmd
.gradle
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
data
licenses
